@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
  }
  section{
    padding: 30px 0;
  }
  .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  body, input,textarea, a{
    font-family: 'poppins', sans-serif;
}
  .about .about-content,
  .skills .skills-content,
  .contact .contact-content{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  
::-webkit-scrollbar {
  width: 7px;
  
}
::-webkit-scrollbar-track {
  background:white;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(rgb(239, 135, 216),rgb(224, 134, 242));
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(250, 96, 217),rgb(219, 77, 248));
}
/*navbar styling*/
.navbar{
  position: fixed;
  width:100% ;
  z-index: 999;
  padding: 15px 0;
  background: rgb(183, 117, 245);
  
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: rgb(115, 73, 154);
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar .logo a{
  color:  white;
  font-size:  45px;
  font-weight: 600;
}
.navbar .logo a span{
  color:white;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: white;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: black;
}
.navbar.sticky .menu li a:hover{
  color:black;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color:  white;
  font-size: 18px;
  font-weight: 500;
  font-family: 'poppins',sans-serif;
  margin-left: 30px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: black;
}
/*menu btn*/
.menu-btn{
  color:  white;
  font-size: 23px;
  cursor: pointer;
  display: none;

}

/* homwe section*/
.home{
  
  background:linear-gradient(white ,rgb(183, 117, 245)35% );
  padding: 130px 0;
  height:600px;
  min-height: 240px;
  
}
.home .home-content{
display: flex;
margin: 3px ;
flex-wrap: wrap;
align-items:center;
justify-content: space-evenly;
height:0%;
}



.home .home-content .left{
width: 45%;
}
.home .home-content .left img{
  height: 450px;
   width: 350px;
  object-fit: cover;
  border-radius: 20px;
}
.home .home-content .right{
    
 
  flex-wrap: wrap;
  padding-left: 4em;  
  justify-content: space-between ;
  }
  
  .home .home-content .right{
    width: 55%;
    
  }
  

.home .home-content  .right  .text-1{
  font-size: 35px;
  color:black;
}

.home .home-content  .right .text-2{
  font-size: 40px;
  font-weight: 500;
  margin: -3px ;
  color:black;
}
.home .home-content  .right .text-3{
  font-size: 55px;
  font-weight: 600;
  margin: -3px ;
  color:white;
}
.home .home-content{
  display: flex;
  margin: 1px ;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height:0%;
  }.navbar.sticky{
    padding: 15px 0;
    background:linear-gradient(rgb(159, 113, 201),rgb(186, 124, 244) 60%);
  }
/*section*/
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

 
/*about*/

.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
.about .about-content .right .text{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 35px;
}

.about .about-content .right p{
  text-align: justify;
}
/*social*/
.social-links {
  display: flex;
  padding-top: 2em;
  
 }
 
 .social-links a {
  height: 50px;
  width: 50px;
  margin: 0 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: whitesmoke;
  
  border-radius: 50%; 
  border: 1px solid rgba(214, 202, 214, 0.72);
  box-shadow: 8px 8px 12px -2px rgb(187, 192, 196),
    -5px -5px 9px -2px rgb(173, 177, 177);
  transition: transform 1s; 
 }
 
 .social-links a i {
  font-size: 25px; 
  color: black;
  transition: transform 1s;
 }
 
 .social-links a:hover {
  box-shadow: inset 6px 6px 8px -2px rgb(168, 170, 172),
    inset -6px -6px 8px -2px rgb(193, 211, 214),
    0px 12px 10px -10px rgb(124, 146, 143);
  border: 2px solid rgba(194, 171, 194, 0.3);
  transform: translateY(3px);
 }
 
 .social-links a:hover i {
  transform: scale(0.85);
 }
 
 .social-links a:hover .fa-linkedin {
  color: #0077b5;
 }
 
 .social-links a:hover .fa-twitter {
  color: #1DA1F2;
 }
 .social-links a:hover .fa-github {
  color: #333333;
 }

/*for skill*/
.wrapper .header1{
	width: 100%;
	height: 40px;
	padding-bottom: 1em;
  padding-top: 2em;
	color: black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
	
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 20%;
}

.cards_wrap .card_inner{
	background:linear-gradient(rgb(116, 75, 154),rgb(183, 117, 245) 60%);
	border-radius: 5px;
	padding: 35px 20px;
	min-width: 200px;
	min-height: 200px;
	max-height: 200px;
	width: 100%;
  box-shadow: -20px -20px 20px rgba(0,0,0,0.3);
}
.cards_wrap .card_inner:hover{
	background:linear-gradient(rgb(183, 117, 245) 70%,rgb(116, 75, 154));
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .role_name{
	color: black;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*timeline*/
.container {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: none;
}
.timeline {
  width: 95%;
  height: auto;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color:rgb(183, 117, 245);
  border-color: black;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 10px;
  color: white;
}
.timeline-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  
}
.timeline-content .date {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 300px;
}
/*projects*/

.project .carousel .card{
  background:linear-gradient(rgb(171, 88, 248) 80%,  rgb(115, 73, 154));
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.project .carousel .card:hover{
  background: linear-gradient(rgb(157, 67, 241) 70%,rgb(60, 2, 89));
}
.project .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.project .carousel .card:hover .box{
  transform: scale(1.05);
}
.project .carousel .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: white;
}
.project .carousel .card .box p
{
  color: white;
}
.project .carousel .card img{
  height: 200px;
  width: 330px;
  object-fit: fill;
  
  border: 5px solid rgb(164, 92, 232);
  transition: all 0.3s ease;
}
.project .carousel .card:hover img{
  border-color: #fff;
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid rgb(157, 67, 241)!important;
  transition: all 0.3s ease;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
  background: rgb(157, 67, 241)!important;
}

#section-wrapper{
  width: 100%;
  padding: 10px;
}
.box-wrapper{
  position: relative;
  display: table;
  width:1100px;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
.info-wrap{
  width:35%;
  height: 456px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg,rgb(164, 92, 232) 0%, rgb(186, 124, 244) 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  list-style: none;
  margin: 60px 0px;
}
.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}
.info-details li i {
  background: green;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: black;
}
.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: black;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  width:65%;
  height: 457px;
  float: right;
  padding:40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}
.form-title{
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background:rgb(186, 124, 244);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: rgb(164, 92, 232);
}
/*footer*/
footer
{
    position: relative;
    width: 100%;
   background: rgb(183, 117, 245);
    min-height:100px;
    padding:20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social,footer .menu1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    flex-wrap: wrap;
}

footer .social li,footer .menu1 li
{
    list-style: none;
}
footer .social li a
{
    font-size: 2em;
    color:white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;

}
footer .social li a:hover
{
    transform:translatey(-10px);
}
.section .footer
{
    max-height: 10mvh;
}
footer .menu1 li a
{
    font-size: 1.2em;
    color:white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}
footer .menu1 li a:hover
{
    opacity: 1;
}
footer p
{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.gotopbtn{
 position: fixed;
 width: 40px;
 height: 40px;
 background: rgb(183, 117, 245);
 bottom: 30px;
 right: 50px;
 border-radius: 12px;
 text-decoration: none;
 text-align: center;
 line-height: 40px;
 color: white;
 font-size: 22px;
}
.gotopbtn:hover
{
   background: rgb(115, 73, 154);
}


/* Responsive  */

@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}
/*responsive */
@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
  .container1 
  {
    max-width: 100%;
  }
}

@media (max-width: 1104px ){
  .home .home-content .left img{
    
    height: 300px;
    width: 250px;
    object-fit: cover;
    border-radius: 4px;
} 

.home .home-content  .right  .text-1{
  font-size: 35px;
}

.home .home-content  .right .text-2{
  font-size: 35px;
  font-weight: 500;
 
  margin: -3px ;
}
.home .home-content  .right .text-3{
  font-size: 40px;
 
  margin: -3px ;
 
}
.home
{
  height: 450px;
}
.navbar .logo a{
    color:  white;
    font-size:  33px;
    font-weight: 500;
  }
 
  
  }


@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
}@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 90%;
      left: -100%;
      top: 0;
      background: linear-gradient(144deg,rgb(164, 92, 232) 0%, rgb(186, 124, 244) 80%);
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .navbar .menu li a:hover{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
      color: #000;
  }
  .home .home-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .home .home-content .right{
    flex: 120%;
    padding: 0%;
  }
   .home .home-content .text-1{
    font-size: 20px;
    text-align: center;
}
.home .home-content .text-2{
    font-size: 30px;
    text-align: center;
} .home .home-content .text-3{
  font-size: 28px;
  text-align: center;
  padding-bottom: 0px;
}
.home
{
  height: 650px;
}

}@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home
{
  height: 650px;
}
  .home .home-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .home .home-content .right{
    flex: 100%;
  
  }
  .home .home-content .text-1{
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 30px;
  }
  .home .home-content .text-3{
    font-size: 25px;
    margin-left: -20px;
    margin-right: -20px;
}
.home .home-content .text-4{
    font-size: 20px;
}
  .about .about-content img
  {
    border-radius: 50%;
    
  }
}

@media (max-width: 454px) {
  .home
{
  height: 1120px;
}}
@media (max-width: 500px) {
  .home .home-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
    height: 17vh;
  }
  .home
{
  height: 700px;
}
  .home .home-content .right{
    flex: 100%;
    padding-top: 9em;  
  }
  .home .home-content .text-1{
      font-size: 20px;
  }
  .home .home-content .text-2{
      font-size: 25px;
  }
  .home .home-content .text-3{
    font-size: 35px;
}
.about .about-content .right .text{
      font-size: 19px;
  }

} 

@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
} 



@media only screen and (min-width: 786px) {
    
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
    font-size: 25px;
  }
  .timeline ul li:hover::before {
    background-color: rgb(205, 156, 251);
  }

  .container .timeline
  {
    padding: 10px;
  }

.timeline-content h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 10px;
  color: white;
}
.timeline-content p {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  padding-top: 1em;
}
.timeline-content .date {
  font-size: 19px;
  margin-bottom: 25px;
  letter-spacing: 2px;
  line-height: 10px;
}
  
  .project .projectc .column{
    width: 100%;
    margin-bottom: 35px;
}
.container {
  min-height: 60mvh;
}

  
}
